.k_border{
    border: 1px solid #eeeeee;
}
.k_box{
    border: 1px solid #cccccc;
}
.k_outline:focus{
    box-shadow: none;
    outline: 2px solid #000;
    border-radius: 5px !important;
    border: none;
}
.k_logo{
    color: #555555;
    font-size: 0.8em;
    }

.k_p_fs{
    font-size:13px;
    color:#999999;
}