.k_z_index{
    height: 350px;
    z-index: 1200;
    position: relative;
}
.k_or{
    z-index: 1500;
    position: absolute;
    top: 140px;
    left: 95%;
}
.k_hover:hover {
    color: #555555 !important;
}
.text_size{
    font-size:0.7em;
}
.font_family{
    font-family: helvetica,arial,sans-serif;
}
.d-grid,gap-2,mt-1{
    font-size:0.9em;
}
@media only screen and (max-width: 767px) {
    .k_or{
        display: none;
        }
    .k_z_index{
        border:0px;
        }    
    }
@media only screen and (max-width: 300px) {
    .container,k_box,mt-5,row,offset-3{
        display: none;
        }   
    }
@media only screen and (min-width: 300px) {
    .text-center,error_msg{
        display: none;
        }   
    }
@media only screen and (max-width: 767px) {
    .col-12,col-md-6,col-sm-12,mt-5,k_z_index,border-end{
        height:50%;
        border:0px !important;
        }    
    }
@media only screen and (max-width: 767px) {
    .container,k_box,mt-5,row,offset-3{
        width: 100%;
        border:0px;
        margin:0px auto;
        }   
    }    
@media only screen and (max-width: 767px) {
    body{
        margin:0px;
        }  
    }    
